html {
  background-color: #282d4f;
}

body {
  text-align: center;
}

h1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 48px;
  color: #a0204c;
}

h2 {
  font-family: "Roboto Condensed";
  font-weight: 300;
  color: #ff6c00;
}
p {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 24px;
  color: #ff6c00;
  
}

a:link {
  color: #23103a;
}

a:visited {
  color: #a0204c;
}

a:hover {
  color: #ff6c00;
}

